.footer-link {
  color: white;
}
.footer-link:hover {
  color: white;
  text-decoration: none;
}
.page-footer {
  background-color: #2a9df4;
}

.student_names{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 20px 0!important;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 0 !important;
  font-size: larger;
  font-weight: 600;
}

.student_names a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width:968px) {

  .student_names{
    flex-direction: column;
    gap: 20px;
    padding-right: 0 !important;
    padding-left: 0 !important;

  }
  
}
