.cf {
  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );

  margin-top: 0;
}

.con {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.title {
  font-size: 25px;
  font-weight: 100;
}

.icon {
  position: relative;
  bottom: 11px;
}

.profile img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.card {
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  position: relative;
}

.header {
  padding-top: 40px;
}
.speaker-text {
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 800px) {
  .profile img {
    width: 30% !important;
    height: 30% !important;
  }
}
